@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Libre+Baskerville&display=swap');

*{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    transition: all 1s;
}


body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body#home{
    background-image: url("../assets/home/background-home-desktop.jpg");
}
body#destination{
    background-image: url("../assets/destination/background-destination-desktop.jpg");
}

body#crew{
    background-image: url("../assets/crew/background-crew-desktop.jpg");
}

body#technology{
    background-image: url("../assets/technology/background-technology-desktop.jpg");
}

.option{
    display: none;
}

.option#select{
    display: flex;
}

header.desktop > .design-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 30px;
}

header.desktop > .design-desktop > img{
    padding-left: 50px;
}

header.desktop > .design-desktop > nav{
    display: flex;
    align-items: center;
    width: 900px;
    height: 90px;
    backdrop-filter: blur(10px);
    background-color: #ffffff0d;
    padding-left: 100px;
}

header.desktop > .design-desktop::before{
    content: "";
    position: absolute;
    width:500px;
    height: 1px;
    left:10%;
    background-color: rgba(255, 255, 255, 0.311);
}
header.desktop > .design-desktop > nav::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 30px;
    left:0;
    background-color: rgba(255, 255, 255, 0.311);
}

header.desktop > .design-desktop > nav > a{
    margin: 0px 30px 0px 30px;
    font-size: 12pt;
    font-family: 'Barlow Condensed', sans-serif;  
    opacity: 0.9; 
}

header.desktop > .design-desktop > nav > a > strong{
    padding-right: 10px;
}

header.desktop > .design-desktop > nav > a#select.min::before{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 60px;
    height: 3px;
}

header.desktop > .design-desktop > nav > a.max#select::before{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100px;
    height: 3px;
}

header.desktop > .design-desktop > nav > a.min:hover::before{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.634);
    width: 60px;
    height: 3px;
}

.design-mobile{
    display: none;
}

header.desktop > .design-desktop > nav > a.max:hover::before{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.634);
    width: 100px;
    height: 3px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > .home > .explore-home{
    width: 49vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

main > .home > .text-home{
    width:min-content;
    margin: 0vw 10vw 0vw 10vw;
}

main > .home > .text-home > h2{
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;  
    color: #D0D6F9;
    animation: movimento 2s ease;

}

main > .home > .text-home > h1{
    font-size: 130px;
    opacity: 1;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    font-weight: 100;
    animation: movimento 2s ease;

}

main > .home > .text-home > p{
    font-size: 14pt;
    color: #D0D6F9;
    animation: movimento 2s ease;

}


main > .home > .explore-home > p{
    width: 230px;
    height: 230px;
    border-radius: 115px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    margin: 170px 0px 0px 40px;
    animation: scale 2s ease;

}

main > .home > .explore-home > p:hover{
    box-shadow:  0px 0px 0px 80px #ffffff29;
    transition: all 1s;
}


.moon,
.titan,
.mars,
.europa{
    width: 100%;
    height: 70vh;
}

.planet,
.infor{
    width: 50vw;
}

.planet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet > img{
    width: 370px;
    margin: 50px 0px 0px 100px;
    animation: scale 2s ease;

}

.planet > h2{
    font-family: 'Barlow Condensed', sans-serif;  
    letter-spacing: 5px;
    padding-right: 40px;
    opacity: 0.9;
    margin-top: -10px;
    padding-right: 100px;
    animation: movimento 2s ease;

}

.crew-info > .title > h2{
    font-family: 'Barlow Condensed', sans-serif;  
    letter-spacing: 5px;
    opacity: 0.9;
    animation: movimento 2s ease;

}

.planet > h2 > strong,
.crew-info > .title > h2 > strong,
.launch-princ > .title > h2 > strong{
    color: gray;
}

.infor{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-left: 75px;
}

.infor > nav{
    display: flex;
    gap: 20px;
}

.infor > nav > p{
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 14pt;
    animation: movimento 2s ease;
    cursor: pointer;
}

.infor > nav > p#select::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    margin-top: 25px;
}

.infor > nav > p.min:hover::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: rgb(153, 153, 153);
    margin-top: 25px;
}

.infor > nav > p.max:hover::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: rgb(153, 153, 153);
    margin-top: 25px;
}

.infor > .info-des{
    margin: 43px 0px -42px 0px;

}

.infor > .info-des > h1{
    font-size: 100px;
    margin: 0;
    font-weight: 100;
    animation: movimento 2s ease;

}

.infor > .info-des > p{
    margin: 0;
    font-size: 18px;
    width: 380px;
    color: #D0D6F9;
    animation: movimento 2s ease;

}

.infor > .info-des > .info-geografia{
    display: flex;
    gap: 70px;
    margin-top: 20px;
    animation: movimento 2s ease;

}

.infor > .info-des > .info-geografia::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: rgb(83, 83, 83);
}

.distancia-nome,
.tempo-nome{
    margin-top: 20px;
    font-size: 10pt;
    color: #D0D6F9;
}

.distancia-tamanho,
.tempo-tamanho{
    margin: 0;
    font-size: 20pt;
}

.douglas,
.mark,
.victor,
.anousher{
    width: 100%;
    height: 80vh;
    display: flex;
}

.crew-info,
.img{
    width: 50vw;
}

.img{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.img > img{
    width: 397px;
    animation: movimentoimg 2s ease;
}

.crew-info{
    padding-left: 150px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}


.crew-info > .informacao > h1{
    font-size: 37pt;
    font-weight: 100;
    animation: movimento 2s ease;
}

.crew-info > .informacao > h2{
    animation: movimento 2s ease;
    font-size: 20pt;
    opacity: 0.6;
    font-weight: 0;
}
.crew-info > .informacao > p{
    font-size: 14pt;
    width: 400px;
    color: #D0D6F9;
    animation: movimento 2s ease;
}

.options{
    display: flex;
    gap: 20px;
    animation: movimento 2s ease;

}

.options > .options-bola{
    width: 14px;
    height: 14px;
    background-color: gray;
    border-radius: 7px;
    cursor: pointer;
}

.options > .options-bola.select{
    background-color: white;
}

.options > .options-bola:hover{
    background-color: rgb(184, 184, 184);
    transition: all 0.4s;
}

.pessoa{
    display: none;
    
}
.pessoa#select{
    display: flex;
}

img.anousherimg{
    width: 470px;
}

img.victorimg{
    width: 440px;
}


.launch-verhicle,
.spaceport,
.space-capsule{
    width: 100%;
    height: 80vh;
    display: flex;
}

.text-inform,
.img-technology{
    width: 50vw;
}

.text-inform{
    display: flex;
}

.launch-princ{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: -93px;
    margin-left: 89px;
}

.launch-princ > .title > h2{
    font-family: 'Barlow Condensed', sans-serif;  
    letter-spacing: 5px;
    opacity: 0.9;
    animation: movimento 2s ease;
}

.text-inform > .text > h2{
    font-size: 14pt;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif; 
    animation: movimento 2s ease;
}

.text-inform > .text > h1{
    font-size: 44pt;
    font-weight: 100;
    margin: 0;
    animation: movimento 2s ease;

}

.text-inform > .text > p{
    width: 426px;
    color: #D0D6F9;
    font-size: 15pt;
    animation: movimento 2s ease;

}

.text-inform > .text{
    margin:20px 0px 0px 70px;
}

.escolha-technology{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.escolha-technology > p{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px rgb(102, 102, 102) solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
    cursor:pointer;
    animation: movimento 2s ease;

}

.escolha-technology > p:hover{
    border: 1px white solid;
    transition: all 0.7s;
}

.escolha-technology > p.select{
    background-color: white;
    color: black;
}

.div-img-tech1{
    width: 400px;
    height: 400px;
    background-image: url("../assets/technology/image-launch-vehicle-portrait.jpg");
    background-size: cover;
}

.div-img-tech2{
    width: 400px;
    height: 400px;
    background-image: url("../assets/technology/image-spaceport-portrait.jpg");
    background-size: cover;
}

.div-img-tech3{
    width: 400px;
    height: 400px;
    background-image: url("../assets/technology/image-space-capsule-portrait.jpg");
    background-size: cover;
}
.img-technology{
    display: flex;
    align-items: center;
    justify-content: end;
    animation: scale 2s ease;

}

.instalacoes{
    display:none;
}

.instalacoes#select{
    display: flex;
}

@keyframes scale {
    from {opacity: 0;
    transform: scale(0%);}
    to {opacity: 1;
    transform: scale(100%);}
}

@keyframes movimento{
    from {opacity: 0;
    transform:translateX(-9.375rem);}
    to {opacity: 1;
    transform:translateX(0rem)}
}

@keyframes movimentoimg{
    from {opacity: 0;
    transform:translateY(9.375rem);}
    to {opacity: 1;
    transform:translateY(0rem)}
}